<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.upcoding.mapper.RoleMapper">

    <select id="findById" parameterType="Long" resultType="RoleVO">
        SELECT * FROM jwt_role where id= #{id}
    </select>

    <select id="findByName" parameterType="String" resultType="RoleVO">
        select * from jwt_role where rolename= #{roleName}
    </select>

</mapper>